html,
body,
#app,
.app,
.landing {
    height: 100%;
}

.header,
.start,
.start__button,
.selection-menu__predefined,
.selection-menu__random {
    display: flex;
    justify-content: center;
}

.start__button {
    border-radius: 100px;
    border-width: 0px;
    background-color: black;
}

.start--begin {
    background-color: red;
}

.start--finish {
    background-color: gray;
}

.start__image {
    height: 100px;
    border-radius: 75px;
}

.selection {
    display: inline-block;
    margin: 10px;
}

.selection-random {
    display: block;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results__display,
.results__score {
    margin-top: 10px;
}

.results__score {
}

.results--succeed {
    color: green;
}

.results--fail {
    color: red;
}
