html,
body,
#app,
.app,
.landing {
  height: 100%;
}

.header,
.start,
.start__button,
.selection-menu__predefined,
.selection-menu__random {
  display: flex;
  justify-content: center;
}

h1,
option,
.selection__title,
.selection__input,
.selection-menu__random,
.results__display,
.results__score {
  font-family: monospace;
}

.selection__title,
.selection-menu__random,
.results__title,
.results__display,
.results__score {
  font-size: 3vh;
}

body {
  background-color: aliceblue;
}

.header {
  background-color: #FFF5DA;
  border-bottom: .5vh black solid;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 10vh;
  margin-left: 2%;
}

.header__instructions {
  font-size: 1.5vh;
  max-width: 25%;
}

.start {
  margin: 5vh auto;
}

.start__button,
.start__image {
  border-radius: 15%;
}

.start__button {
  border-width: 0px;
  background-color: black;
  position: relative;
  padding: 15vh 0 0 0;
  height: 0;
  overflow: hidden;
  width: 15vh;
  border-radius: 50%;
}

.start__button:focus {
  outline: none;
}

.start--begin {
  background-color: #C94444;
}

.start--finish {
  background-color: #88B93E;
}

.start__image {
  border-radius: 50%;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.selection-menu__predefined {
  flex-direction: column;
  align-items: center;
}

.selection {
  margin: 3vh auto;
}

.selection__input {
  background-color: #FFF5DA;
  font-size: 2vw;
  max-width: 100%;
}

.selection-menu__random {
  margin: 3vh auto;
}

.selection-random {
  display: block;
  border-radius: 5px;
  background-color: #FFF5DA;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .5%;
}

.results__display,
.results__score {
  margin-top: 1%;
}

.results--succeed {
  color: #88B93E;
}

.results--fail {
  color: #C94444;
}
